
<section id="story">
<h3 style="margin: 10px">STORY</h3>


<p id="start">Tab to pause...</p>

<h1 id="starwars"><sub></sub></h1>

<div id="titles">
  <div id="titlecontent">

    <p class="center">Aman and Vigna<br />
      are best friends who decided to get married to each other.</p>

    <p>Their story is not one of spice and glamour. They have never been able to give a poetic answer to friends who have asked them "What is your story?" and "When did it all start?". Why, even they have wondered how it all happened.</p>

    <p>It is a difficult answer because the transition from being classmates to best friends and now soon to be life partners has been so subtle and gradual that neither of them realized that it was happening… Until the moment their accustomed conversation became loaded with emotion. The comfort they shared with each other and the familiarity felt like home.</p>

    <p>But if there has to be a story, it probably starts with the famed PGP office of IIM Bangalore and their random number generators. On day 1, Amanpreet Talwar and Vignamitra Karthikeyan were put in the same Marketing project group. Destiny, believers might say, but friends of Aman and Vigna would see this as befitting of their geeky reputations. A misleading first impression on either side was followed by a mutual connection over the need to be perfect. They soon became study partners and all that library time got interspersed with jokes, fights, life philosophies and fussing over the other person's eating habits. They became best friends who spent all their waking time together and most people's memory of one person has the other.</p>

    <p>A year of extremely close friendship (and some serious slogging!) later, they went to the same exchange school in Europe. The Viennese adventure was exhilarating and momentous; they discovered the indispensable support they'd become for each other. As the last term of college approached, they only became more sure of the fact they were meant to be!</p>

    <p>They claim to be the luckiest people not just to have found each other but also to have the most loving and affectionate families who embraced them both and brought them happiness beyond measure.</p>


    </div>
</div>
<a href="story.html" class="btn">README!!</a>

</section>